body {
    font-family: Tahoma;
}

h1 {
    color: navy;
    font-family: Tahoma;
    margin: 5px;
}

.subhead{
    font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.post-buttons {
  background-color: white;
  text-align: center;
  display: inline-block;
}

.banner-tab-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: lightskyblue;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: navy;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: navy;
  color: white;
}

.edit-post, input {
  width: 50;
  padding: 8px 20px;
  margin: 0px 0;
  /*border: 1px solid navy;*/
  background-color: navy;
  color: white;
  font-size: 16px;
}

input:hover, button:hover {
  background-color: lightskyblue;
}

button {
  background-color: navy;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

p {
  color: navy;
  margin: 5px;
}

#messages {
  border: 3px solid red;
  color: red;
  font-size: large;
	font-style: italic;
	padding-left: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 15px;
  display: inline-block;
  text-align: center;
  font-family: Tahoma;
}

cardContent {
  display: inline-block;
  vertical-align: middle;
}

img.cardimg {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.title {
  color: navy;
  font-size: 18px;
}