<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Shrunothra">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" />

        {% block headstuff %}
        <ul class = "banner header">
            <li><a href= "{{ url_for('home') }}">Home</a></li>
            {% if logged_in %}
            <li><a href = "{{ url_for('generalFeed') }}">General Feed</a></li>
            <li><a href = "{{ url_for('tagsList') }}">Tags List</a></li>
            <li><a href = "{{ url_for('createPost') }}">Create Event</a></li>
            <li class = "banner-tab-right"><a href = "{{ url_for('logout') }}"> Logout </a></li>
            <li class = "banner-tab-right"><a href = "{{ url_for('userPortal') }}">User Portal</a></li>
            {% else %}
            <li><a href = "{{ url_for('login') }}" > Login </a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </head>
    <body>
        <h1>{{title}}</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="messages">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
        
        <script src="https://code.jquery.com/jquery.js"></script>
        
        {% block jquery_scripts %}
        <script>
        console.log('jQuery loaded');
        </script>
        {% endblock %}
        
    </body>
    <footer>
        {% block footer %}
        <br> &copy; 2019  
        {% endblock %}
    </footer>
</html>