{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
 
<p>Fill out this form to insert an event post:</p>

<form method="POST" action="" enctype="multipart/form-data">

    <fieldset>
    <legend>Event Info</legend>
        <table>
        <tr><td><label for="post-title" accesskey="t">Event Name:</label></td>
            <td><input type="text" name="post-title" id="post-title" value="{{ post.title if post else '' }}"></td></tr>
        <tr><td><label for="post-content" accesskey="c">Description:</label></td>
            <td><input type="text" name="post-content" id="post-content" value="{{ post.content if post else '' }}"></td></tr>
        <tr><td><label for="post-location" accesskey="l">Location:</label></td>
            <td><input type="text" name="post-location" id="post-location" value="{{ post.location if post else '' }}"></td></tr>
        <tr><td><label for="post-eventdate" accesskey="d">Date:</label></td>
            <td><input type="date" name="post-eventdate" id="post-eventdate" minDate = now() value="{{ post.event_date if post else '' }}"></td></tr>
        <tr><td><label for="post-eventtime" accesskey="t">Time:</label></td>
            <td><input type="time" name="post-eventtime" id="post-eventtime" TZD = "EST" value="{{ post.event_time if post else '' }}"></td></tr>
        <tr><td><label for="post-picture" accesskey="p">Photo:</label></td>
            <td><input type="file" name="post-picture" id="post-picture" ></td></tr>
        <tr><td><label for="post-tags" accesskey="t">Tags:</label></td>
            <td><input placeholder="{{ '' if post else 'tag1,tag2' }}"type="text" name="post-tags" id="post-tags" value="{{ post.tags if post else '' }}"></td></tr>
        </table>
    </fieldset>

    <p> <input type='submit' value='Post Event'> </p>

</form>
{% endblock %}

{% block jquery_scripts %}
<!--This is to restrict the user from choosing dates that are in the past.-->
<!--The minimum date they can choose is today.-->
<script>
    var now = new Date(),
    minDate = now.toISOString().substring(0,10);

    $('#post-eventdate').prop('min', minDate);
</script>
{% endblock %}