{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}

<p>Please see the following questions on how to use Platform 106!</p>

<div class="typeform-widget" data-url="https://metrohacks1.typeform.com/to/h65hED" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 50%; height: 450px;"></div> 
<script> 
(function() { 
    var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; 
    if(!gi.call(d,id)) { 
        js=ce.call(d,"script"); 
        js.id=id; 
        js.src=b+"embed.js"; 
        q=gt.call(d,"script")[0]; 
        q.parentNode.insertBefore(js,q) 
    } 
})() 
</script> 
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=h65hED&utm_source=typeform.com-5978466-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
<br>

<p>We always appreciate feedback, so please take a moment to tell us how we can make our app better for you!</p>

<div class="typeform-widget" data-url="https://metrohacks1.typeform.com/to/WrCrax" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 50%; height: 450px;"></div> 
<script> (function() { 
    var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; 
    if(!gi.call(d,id)) { 
        js=ce.call(d,"script"); 
        js.id=id; js.src=b+"embed.js"; 
        q=gt.call(d,"script")[0]; 
        q.parentNode.insertBefore(js,q) 
    } 
})() 
</script> 
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=WrCrax&utm_source=typeform.com-5978466-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

{% endblock %}