{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
    
    <form id="advancedSearch" method="POST" action={{ url_for("advancedSearch") }}>
        <label for="searchterm">Title: 
        <input id="searchterm" placeholder="Search by keyword!" name="searchterm"></label>
        <label for="searchtags">Tags: 
        <input id="searchtags" placeholder="Search by tag!" name="searchtags"/>
        </label>
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
    <br>
    
    {% if posts %}
    <div id="posts-list">
    {% for post in posts %}
    <div id="post-item" class="card">
        <div class="imagecontainer">
            <img src="{{ url_for('pic',pid=post.pid) }}" alt="" width="50%" class="cardimg" >
        </div>
        <div id="cardContent">
            <h1 class="title"><a href="{{ url_for('displayPost',pid=post.pid) }}">{{ post.title }}</a></h1>
            
            <p class="location"><b>Location: </b>{{ post.location }}</p>
            {% if post.tomorrow == "1" %}
                <p class="event_date"><font color = "red"><b>Date: </b>{{ post.event_date }}</font></p>
            {% else %}
                <p class="event_date"><b>Date: </b>{{ post.event_date }}</p>
            {% endif %}
            
            <p class="event_time"><b>Time: </b>{{ post.event_time }}</p>
            <p class="tags"><b>Tags: </b>
                {% for tag in post.tags %}
                <a href="{{ url_for('searchTag',tag=tag) }}">{{ tag }}</a> 
                {% endfor %}
            </p>
            <p class="post_author"><b>Author: </b>{{ post.author }}</p>
            <p>
                {% if logged_in %}
                <form method="post" action="{{ url_for('starAjax') }}">
                    <label class="pid"><input type="hidden" name="pid" class="pid" value="{{ post.pid }}"></label>
                    <label class="starred"><input type="hidden" name="starred" class="starred" value="{{ post.starred }}"></label>
                    <label class ="star-event">
                        <input type="button" name="star-event" value="{{'Starred -- Click to unstar' if post.starred == '1' else 'Star the Event'}}">
                    </label>
                </form>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}

{% endblock %}

{% block jquery_scripts %}
<script src="{{url_for('static',filename='starEvent.js')}}"></script>
<script>
    var star_URL = "{{ url_for('starAjax') }}";
</script>

{% endblock %}