{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
    
    <form id="advancedSearch" method="POST" action={{ url_for("advancedSearch") }}>
        <label for="advancedSearch">Title: 
        <input id="searchterm" placeholder="Search by keyword!" name="searchterm"></label>
        <label for="advancedSearch">Tags: 
        <input id="searchterm" placeholder="Search by tag!" name="searchtags"/>
        </label>
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
    <br>
    <table id="posts-list">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Tags</th>
            <th>Author</th>
            {% if logged_in %}
            <th>Star Status</th>
            {% endif %}
        </tr>
        {% if posts %}
        {% for post in posts %}
        <tr data-pid={{ post.pid }}>
            <td class="title"><a href="{{ url_for('displayPost',pid=post.pid) }}">{{ post.title }}</a></td> 
            <td class="location">{{ post.location }}</td>
            <td class="event_date">{{ post.event_date }}</td>
            <td class="event_time">{{ post.event_time }}</td>
            <td class="tags">
                {% for tag in post.tags %}
                <a href="{{ url_for('searchTag',tag=tag) }}">{{ tag }}</a> 
                {% endfor %}
            </td>
            <td class="post_author">{{ post.author }}</td>
            {% if logged_in %}
            <td>
                <form method="post" action="{{ url_for('starAjax') }}">
                    <label class="pid"><input type="hidden" name="pid" class="pid" value="{{ post.pid }}"></label>
                    <label class="starred"><input type="hidden" name="starred" class="starred" value="{{ post.starred }}"></label>
                    <label class = "star-event">
                        <input type="button" name="star-event" value="{{'Starred -- Click to unstar' if post.starred == '1' else 'Star the Event'}}">
                    </label>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>

{% endblock %}

{% block jquery_scripts %}
<script>
    
    var star_URL = "{{ url_for('starAjax') }}";
    
    $("label.star-event").on("click", function (event) {
        event.preventDefault();
        var starred = $(event.target).closest("form").find("input[name='starred']").val();
        var pid = $(event.target).closest("form").find("input[name='pid']").val();
        var button = $(this).find("input[name=star-event]");
        sendStar(pid,starred,button);
    });
    
    function sendStar(pid,starred,button) {
        console.log("Sending "+pid +" and " + starred +" to the back end");
        $.post(star_URL,{'error':false, 'pid': pid, 'starred': starred},
        function(data,status){
            updateStar(data,button);
        },'json');
    }
    
    function updateStar(obj,button) {
        console.log(obj);
        if(obj.error) {
            alert(obj.err);
        } else {
            console.log("changing star status to be " + obj.starred)
            if (obj.starred == "1") {
                button.val('Starred -- Click to unstar');
            } else {
                button.val('Star the Event');
            }
            button.closest("form").find("input[name=starred]").val(obj.starred);
        }
    }


</script>

{% endblock %}