{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}

<h1>Welcome to Platform 106!</h1>
{% if logged_in %}
<p>Please use the tabs above to interact with our database.</p>
{% else %}
<p>Please log in to use the platform.</p>
{% endif %}

<p>Featured Events:</p>
<br>
Search:
    <form id="basicSearch" method="POST" action="{{ url_for("basicSearch") }}">
        <label for="basicSearch"><input id="searchterm" placeholder="Search" name="searchterm"/></label>
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
{% endblock %}