{% extends "base.html" %}

   {# <!--wellesley drone video -->    
    <!--<video autoplay muted loop id="myVideo">-->
    <!--    <source src="../static/wellesleyminclip.mp4" type="video/mp4">-->
    <!--</video>-->

    <!--<script>-->
    <!--var video = document.getElementById("myVideo");-->
    <!--video.play();-->
    <!--</script>-->
    #}
    
{# replaces default content block #}
{% block content %}

{# 
 <form id="search" method=POST action="{{url_for('search')}}">
        <input id="searchterm" placeholder="Search" name="searchterm">
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
</form>
#}

<p>Please login using your Wellesley account information:</p>
  
 
<form id="joinform" style="display: none;" action="{{url_for('join')}}" method="post">
    <h2>Join</h2>
    <p><label>Username: <input type="text" name="username" required pattern="^\w+$"></label></p>
    <p><label>Password: <input type="password" name="password1" required></label></p>
    <p><label>Password again: <input type="password" name="password2" required></label></p>
    <p><button id="register-btn" type="submit">Register</button> 
        <button type="" id="register2login">I have an account</button></p>
</form>

    
<form id="loginform" style="display: block;" action="{{url_for('loginAction')}}" method="post">
    <h2>Login</h2>
    <p><label>Username: <input type="text" name="username" required pattern="^\w+$"></label></p>
    <p><label>Password: <input type="password" name="password" required></label></p>
    <p><button type="submit" id="login-btn">Login</button> 
        <button type="" id="login2register">I don't have an account</button></p>
</form>


{% endblock %}
    

{% block jquery_scripts %}
<script>

/* global $ */

$("#joinform").on('submit', function (event) {
     var pw1 = $(this).find('[name=password1]').val();
     var pw2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
     if( pw1 != pw2 ) {
         // something more sophisticated than alert would be nice
         alert("passwords don't match");
     }
});

$("#login2register").on('click',function(){
    $("#joinform").show();
    $("#loginform").hide();
});

$("#register2login").on('click',function(){
    $("#loginform").show();
    $("#joinform").hide();
});

</script>

{% endblock %}