{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
{% if post %} 
<h3>{{ post.title }}</h3>
<p>Created at {{ post.time_created }} by {{ post.author }}
    <ul class="post-buttons">
    <li>{% if isAuthor or isAdmin %}
    <a style="padding:0px; padding-right:10px;" href="{{ url_for('updatePost',pid=post.pid) }}">
        <button class="edit-post" type="button" >Edit the Post</button>
    </a>
    {% endif %}</li>
    
    <li>{% if logged_in %}
    <form method="post" action="{{ url_for('starAjax') }}">
        <label class="pid"><input type="hidden" name="pid" class="pid" value="{{ post.pid }}"></label>
        <label class="starred"><input type="hidden" name="starred" class="starred" value="{{ post.starred }}"></label>
        <label class ="star-event">
            <input type="button" name="star-event" value="{{'Starred -- Click to unstar' if post.starred == '1' else 'Star the Event'}}">
        </label>
    </form>
    {% endif %}</li>
    </ul>
    
    
</p>

{# double check if picture exists, if not then display an empty string #}
<p><img src="{{ url_for('pic',pid=post.pid) }}" alt="" width="50%" ></p>

<p><b>Description:</b> {{ post.content }}</p>
<p><b>Location:</b> {{ post.location }}</p>
<p><b>Event date:</b> {{ post.event_date }}</p>
<p><b>Event time:</b> {{ post.event_time }}</p>
<p class = "tags"><b>Tags:</b>
    {% for tag in post.tags %}
    <a href="{{ url_for('searchTag',tag=tag) }}">{{ tag }}</a> 
    {% endfor %}
</p>
{% if logged_in %}
<p><b>Contact Author: </b><a href="mailto:{{authorEmail}}?subject=Question Regarding {{post.title}}">{{authorEmail}}</a></p>
{% endif %}

{% endif %}


{% endblock %}

{% block jquery_scripts %}
<script src="{{url_for('static',filename='starEvent.js')}}"></script>
<script>
    var star_URL = "{{ url_for('starAjax') }}";
    
</script>
{% endblock %}