{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}

{% if post %} 
{% if isAuthor %}
<a href="{{ url_for('updatePost',pid=post.pid) }}">
    <button id="edit-post" type="button" >Edit the Post</button>
</a>
{% endif %}
<p>Author: {{ post.author }}</p>
<p>Event name: {{ post.title }}</p>
<p>Description: {{ post.content }}</p>
<p>Location: {{ post.location }}</p>
<p>Event date: {{ post.event_date }}</p>
<p>Event time: {{ post.event_time }}</p>
<p>Time created: {{ post.time_created }}</p>
<p>Tags: {{ post.tags }}</p>
<form method="post" action="{{ url_for('starAjax') }}">
    <input type="hidden" name="pid" id="pid" value="{{ post.pid }}">
    <input type="hidden" name="starred" id="starred" value="{{ post.starred }}">
    <label for="star-event">
        <input id="star-event" type="button" name="star-event" value="{{'Starred -- Click to unstar' if post.starred else 'Star the Event'}}">
    </label>
</form>
{% endif %}

{% endblock %}

{% block jquery_scripts %}
<script>
    var starred = $("#starred").val();
    var URL = "{{ url_for('starAjax') }}";
    
    $("#star-event").on("click", function (event) {
        event.preventDefault();
        if(!starred) {
            if (event.target != this) return;
            starred = true;
        } else {
            starred = false;
        }
        var pid = $(event.target).closest("form").find("input[name='pid']").val();
        sendStar(pid,starred);
    });
    
    function sendStar(pid,starred) {
        console.log("Sending "+pid +" and " + starred +" to the back end");
        $.post(URL,{'error':false, 'pid': pid, 'starred': starred},
        function(data,status){
            updateStar(data);
        },'json');
    }
    
    function updateStar(obj) {
        console.log(obj);
        if(obj.error) {
            // $("#errors").empty().html('Error: '+obj.err);
            alert(obj.err);
        } else {
            console.log("changing star status to be " + obj.starred)
            if (obj.starred) {
                $("#star-event").val('Starred -- Click to unstar');
            } else {
                $("#star-event").val('Star the Event');
            }
        }
    }
</script>
{% endblock %}