{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
 

    <form id="tagsSearch" method="POST" action={{ url_for("tagsSearch") }}>
        <label class="tagsSearch">Search Tags: 
        <input id="searchtags" placeholder="Enter a tag!" name="searchtags" onkeyup="myFunction()"/>
        </label>
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
    <br>
    <table id="tags-list"><thead>
        <tr>
            <th>Tag Name</th>
            <th>Number of Posts</th>
            <th>Number of Followers</th>
            <th>Follow Status</th>
            {% if isAdmin %}
            <th>Delete Tag</th>
            {% endif %}
        </tr>
        {% if tags %}
        {% for tag in tags %}
        <tr data-tid={{ tag.tid }}>
            <td class="tag_name"><a href="{{ url_for('searchTag',tag=tag.tag_name) }}">{{ tag.tag_name }}</a></td>
            <td class="num_posts">{{ tag.num_posts }}</td>
            <td class="num_followers">{{ tag.num_followers }}</td>
            <td>
                <form method="post" action="{{ url_for('followAjax') }}">
                    <label class="tid"><input type="hidden" name="tid" class="tid" value="{{ tag.tid }}"></label>
                    <label class="followed"><input type="hidden" name="followed" class="followed" value="{{ tag.followed }}"></label>
                    <label class = "follow-tag">
                        <input type="button" name="follow-tag" value="{{'Followed -- Click to unfollow' if tag.followed == '1' else 'Follow the Tag'}}">
                    </label>
                </form>
            </td>
            {% if isAdmin %}
            <td>
                <form method="post" action="{{ url_for('deleteTag',tid=tag.tid) }}">
                    <label class = "delete-tag">
                        <input type="submit" name="delete-tag" value="Delete">
                    </label>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        
    </table>

{% endblock %}

{% block jquery_scripts %}
<script src="{{url_for('static',filename='followTag.js')}}"></script>
<script>
    var follow_URL = "{{ url_for('followAjax') }}";
</script>

<script>
/* Function that display search results dynamically */
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchtags");
  filter = input.value.toUpperCase();
  table = document.getElementById("tags-list");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

{% endblock %}