{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
 
    <p>This is the Tags List page</p>
    
    <form id="advancedSearch" method="POST" action={{ url_for("advancedSearch") }}>
        <label class="advancedSearch">Search Tags: 
        <input id="searchterm" placeholder="{{ tags }}" name="searchtags"/>
        </label>
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
    
    <p>All Tags</p>
    <table id="tags-list">
        <tr>
            <th>Tag Name</th>
            <th>Number of Posts</th>
            <th>Number of Followers</th>
            
        </tr>
        {% if tags %}
        {% for tag in tags %}
        <tr data-tid={{ tag.tid }}>
            <td class="tag_name"><a href="{{ url_for('searchTag',tag=tag.tag_name) }}">{{ tag.tag_name }}</a></td>
            <td class="num_posts">get function for num_posts</td>
            <td class="num_followers">{{ tag.num_followers }}</td>
            <td>
                <form method="post" action="{{ url_for('followAjax') }}">
                    <label class="tid"><input type="hidden" name="tid" class="tid" value="{{ tag.tid }}"></label>
                    <label class="followed"><input type="hidden" name="followed" class="followed" value="{{ tag.followed }}"></label>
                    <label class = "follow-tag">
                        <input type="button" name="follow-tag" value="{{'Followed -- Click to unfollow' if tag.followed == '1' else 'Follow the Tag'}}">
                    </label>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        
    </table>

{% endblock %}

{% block jquery_scripts %}
<script>
    var URL = "{{ url_for('followAjax') }}";
    
    $("label.follow-tag").on("click", function (event) {
        event.preventDefault();
        var followed = $(event.target).closest("form").find("input[name='followed']").val();
       // var followed = $(event.target).closest("form").find("input[name='followed']").is(":checked");
        console.log("follow: " + followed);
        var tid = $(event.target).closest("form").find("input[name='tid']").val();
        var button = $(this).find("input[name=follow-tag]");
        sendFollow(tid,followed,button);
    });
    
    function sendFollow(tid,followed,button) {
        //alert("I am " + followed);
        console.log("Sending "+tid +" and " + followed +" to the back end");
        $.post(URL,{'error':false, 'tid': tid, 'followed': followed},
        function(data,status){
            updateFollow(data,button);
        },'json');
    }
    
    function updateFollow(obj,button) {
        console.log(obj);
        if(obj.error) {
            // $("#errors").empty().html('Error: '+obj.err);
            alert(obj.err);
        } else {
            console.log("changing follow status to be " + obj.followed)
            if (obj.followed == "1") {
                button.val('Followed -- Click to unfollow');
            } else {
                //button.closest("form").find("input[name=followed]").prop(checked, false);
                button.val('Follow the Tag');
            }
            button.closest("form").find("input[name=followed]").val(obj.followed);
        }
    }
</script>
{% endblock %}