{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
<a href="{{ url_for('userPortal') }}">Back to User Portal</a>
 
<p>Fill out this form to UPDATE your contact information for event notifications:</p>
    <form method=POST action={{ url_for("updateProfile") }}>
        
    <fieldset>
        <table>
        <tr><td><label for="phoneNum">Phone Number:</label></td>
            <td><input type="number" name="phoneNum" id="phoneNum" value="{{ num }}"></td></tr>
        <tr><td><label for="email">Wellesley Email Address:</label></td>
            <td><input type="email" name="email" id="email" value="{{ email }}"></td></tr>
        </table>
        
    </fieldset>

        <p> <input type="submit" name="submit" value="update"></p>

    </form>
{% endblock %}