{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
<h3 style="color:blue;">Hello, {{ username }}!</h3> 
    
<h4> Manage my Stars </h4>
{% for star in stars %}
<p>---<br>
Title: <a href="{{ url_for('displayPost',pid=star['pid']) }}">{{ star['title'] }}</a><br>
Content: {{ star['content'] }}<br>
---<br>
</p>
{% endfor %}
<h4> Profile and Preferences </h4>
<h4> Manage my posts </h4>
{% for post in posts %}
<p>---<br>
Title: <a href="{{ url_for('displayPost',pid=post['pid']) }}">{{ post['title'] }}</a><br>
Content: {{ post['content'] }}<br>
---<br>
</p>
{% endfor %}


<!--<form id="basicSearch" method="POST" action={{ url_for("basicSearch") }}>-->
<!--    <input id="searchterm" placeholder="Search" name="searchterm"/>-->
<!--    <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>-->
<!--</form>-->
{% endblock %}