{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
<h3 style="color:blue;">Hello, {{ username }}!</h3> 

<h4> <a href=" {{url_for('updateProfile')}} ">Profile and Preferences</a> </h4>
<h4 style="text-align:center;"> Manage my Starred Posts </h4>
<br>
     <table id="posts-list">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Tags</th>
            <th>Author</th>
            <th>Star Status</th>
        </tr>
        {% for star in stars %}
        <tr data-pid={{ star.pid }}>
            <td class="title"><a href="{{ url_for('displayPost',pid=star.pid) }}">{{ star.title }}</a></td> 
            <td class="location">{{ star.location }}</td>
            <td class="event_date">{{ star.event_date }}</td>
            <td class="event_time">{{ star.event_time }}</td>
            <td class="tags">
                {% for tag in star.tags %}
                <a href="{{ url_for('searchTag',tag=tag) }}">{{ tag }}</a> 
                {% endfor %}
            </td>
            <td class="post_author">{{ star.author }}</td>
            <td>
                <form method="post" action="{{ url_for('starAjax') }}">
                    <label class="pid"><input type="hidden" name="pid" class="pid" value="{{ star.pid }}"></label>
                    <label class="starred"><input type="hidden" name="starred" class="starred" value="{{ star.starred }}"></label>
                    <label class = "star-event">
                        <input type="button" name="star-event" value="{{'Starred -- Click to unstar' if star.starred == '1' else 'Star the Event'}}">
                    </label>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
<br>
<h4 style="text-align:center;"> Manage my Followed Tags </h4>
<br>
<table id="tags-list">
        <tr>
            <th>Tag Name</th>
            <th>Number of Posts</th>
            <th>Number of Followers</th>
            <th>Follow Status</th>
            
        </tr>
        {% for follow in follows %}
        <tr data-tid={{ follow.tid }}>
            <td class="tag_name"><a href="{{ url_for('searchTag',tag=follow.tag_name) }}">{{ follow.tag_name }}</a></td>
            <td class="num_posts">{{ follow.num_posts }}</td>
            <td class="num_followers">{{ follow.num_followers }}</td>
            <td>
                <form method="post" action="{{ url_for('followAjax') }}">
                    <label class="tid"><input type="hidden" name="tid" class="tid" value="{{ follow.tid }}"></label>
                    <label class="followed"><input type="hidden" name="followed" class="followed" value="{{ follow.followed }}"></label>
                    <label class = "follow-tag">
                        <input type="button" name="follow-tag" value="{{'Followed -- Click to unfollow' if follow.followed == '1' else 'Follow the Tag'}}">
                    </label>
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
<br>
<h4 style="text-align:center;"> Manage my Created Posts </h4>
<br>
    <table id="created-posts-list">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Edit Post</th>
        </tr>
        {% for post in posts %}
        <tr data-pid={{ post.pid }}>
            <td class="title"><a href="{{ url_for('displayPost',pid=post.pid) }}">{{ post.title }}</a></td> 
            <td class="location">{{ post.location }}</td>
            <td class="event_date">{{ post.event_date }}</td>
            <td class="event_time">{{ post.event_time }}</td>
            <td>
                <a href="{{ url_for('updatePost',pid=post.pid) }}">
                    <button class="edit-post" type="button" >Edit the Post</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block jquery_scripts %}
<script src="{{url_for('static',filename='followTag.js')}}"></script>
<script src="{{url_for('static',filename='starEvent.js')}}"></script>

<script>
    var star_URL = "{{ url_for('starAjax') }}";
    var follow_URL = "{{ url_for('followAjax') }}";
</script>
{% endblock %}