{% extends "base.html" %}
 
{# replaces default content block #}
{% block content %}
<h3 style="color:blue;">Hello, {{ username }}!</h3> 
    
<h4> Manage my Stars </h4>
{% for star in stars %}
<p>---<br>
Title: <a href="{{ url_for('displayPost',pid=star['pid']) }}">{{ star['title'] }}</a><br>
Content: {{ star['content'] }}<br>
---<br>
</p>
{% endfor %}

<h4> Manage my Followed Tags </h4>
{% for follow in follows %}
<p>---<br>
Title: <a href="{{ url_for('searchTag',tag=follow['tag_name']) }}">{{ follow['tag_name'] }}</a><br>
</p>
{% endfor %}

<h4> <a href=" {{url_for('updateProfile')}} ">Profile and Preferences</a> </h4>
<h4> Manage my posts </h4>
{% for post in posts %}
<p>---<br>
Title: <a href="{{ url_for('displayPost',pid=post['pid']) }}">{{ post['title'] }}</a><br>
Content: {{ post['content'] }}<br>
---<br>
</p>
{% endfor %}


{% endblock %}